{% extends 'base.html.twig' %}

{% block title %}Hello ConfigController!{% endblock %}

{% block body %}
    <div class="body-container">
        <div class="services-container">
            <div class="content-title">
                Configuration panel
            </div>
            <div class="content-text">
                There you can create and edit user site data.
            </div>
        </div>
    </div>
{% endblock %}
