{% extends 'base.html.twig' %}

{% block title %}Hello ConfigController!{% endblock %}

{% block body %}
    <div class="body-container">
        <div class="services-container">

        </div>
    </div>
{% endblock %}
