{% extends "base.html.twig"%}

{% block body %}
    <div class="body-container">
    <div class="contact-container">
            <div class="content-position">
                <div class="content-title">
                    Datenschutz
                </div>
                <div class="content-text">
                    Datenschutzerklärung gemäß EU-Datenschutz-Grundverordnung
                    <br />
                    Neben diesen websitespezifischen Datenschutzhinweisen gelten auch die Datenschutzhinweise gemäß EU-Datenschutz-Grundverordnung.
                    <br />
                    Datenschutzbeauftragter:
                    <br />
                    Name and Surname
                    <br />
                    Email
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Datenschutz / Grundsatz / Zweckbestimmung / Sicherheit
                </div>
                <div class="content-text">
                    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung. Wir möchten, dass Sie wissen, wann wir welche Daten erheben und wie wir sie verwenden.
                    <br />
                    Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift, Telefonnummer oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Die personenbezogenen Daten verwenden wir nur, um Ihre Anfrage zu beantworten, Ihre Aufträge zu bearbeiten oder Zugänge zu Informationen beziehungsweise Informationsquellen zu verschaffen. Diese Daten werden ohne Ihre ausdrückliche Zustimmung weder an Dritte weitergegeben noch anderweitig vermarktet. Alle unsere Mitarbeiter und alle an der Datenverarbeitung beteiligten Erfüllungsgehilfen sind auf das Bundesdatenschutzgesetz und den vertraulichen Umgang mit personenbezogenen Daten verpflichtet. Unsere Sicherungsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend überarbeitet
                    <br />
                    Wir haben technische und organisatorische Sicherheitsmaßnahmen getroffen, um Ihre personenbezogenen Daten vor Verlust, Zerstörung, Manipulation und unberechtigten Zugriff zu schützen.
                    <br />
                    Personen die noch nicht das 18. Lebensjahr erreicht haben, sollten ohne die Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns übermitteln. Wir fordern keine personenbezogenen Daten von Jugendlichen und Kindern an.
                    <br />
                    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Allerdings werden die Sicherheitsmaßnahmen entsprechend der technologischen Entwicklung fortlaufend verbessert.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Betroffenenrechte / Auskunftsrecht
                </div>
                <div class="content-text">
                    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung, Einschränkung der Verarbeitung, Datenübertragbarkeit oder Löschung dieser Daten. Bei Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Widerspruchsrecht
                </div>
                <div class="content-text">
                    Sie können jederzeit Ihre Zustimmung zur Erhebung und Speicherung Ihrer personenbezogenen Daten durch uns widerrufen. Schreiben Sie uns dazu bitte per Post oder per e-mail.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Cookies
                </div>
                <div class="content-text">
                    Nachfolgend finden Sie Informationen über Cookies, wie wir diese auf unserer Website einsetzen und welche Möglichkeiten Sie haben, falls Sie diese Cookies - trotz ihrer Vorteile - lieber deaktivieren möchten. Wenn Sie die Cookies nicht deaktivieren, gehen wir davon aus, dass Sie der Nutzung von Cookies zustimmen.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Was sind Cookies?
                </div>
                <div class="content-text">
                    Cookies sind kleine Textdateien, die auf Ihrem Rechner beziehungsweise auf Ihr mobiles Endgerät abgelegt werden. Die Speicherung der Daten erfolgt durch ihren Browser z. Bsp. Firefox, Google Chrome und Safari. Die meisten der von uns verwendeten Cookies sind so genannte "Session-Cookies". Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen, um Ihnen die Nutzung der Seiten zu erleichtern und sie individueller gestalten zu können.
                </div>
                <div class="content-text">
                    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Eine Anleitung für die Verwaltung von Cookies auf Ihrem Browser finden Sie in der Regel unter der Hilfe-Funktion des Browsers oder in der Bedienungsanleitung Ihres Smartphones. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein. Cookies richten auf Ihrem Rechner keinen Schaden an und können keine Viren enthalten.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Welche Cookies werden genutzt?
                </div>
                <div class="content-text">
                    Es werden Cookies verwendet, welche sich zum Beispiel Ihre persönlichen Einstellungen (z.B. ausgewählte Sprache) merken. Die verwendeten Cookies dienen dazu unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
                </div>
                <div class="content-text">
                    Wir bemühen uns um die ständige Verbesserung der Website. Hierzu kommen Cookies zum Einsatz, die uns eine Gesamtstatistiken über die Anzahl der Besucher liefert, welche Bereiche einer Seite am meisten angesehen werden, Angaben über die Stadt oder der Standort der Nutzer sowie die Länge des Aufenthalts etc. Diese können durch von uns beauftragte externe Analyse-Anbieter installiert werden. Mit Hilfe dieser Cookies werden ausschließlich anonymisierte Daten erhoben, die eine Analyse der Benutzung unserer Website ermöglicht.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Social Plugins / Social Media Cookies
                </div>
                <div class="content-text">
                    Auf unserer Website werden teilweise sogenannte Social Plugins der sozialen Netzwerke verwendet. Damit Sie Inhalte von unserer Website mittels Social Media-Kanäle wie Facebook oder Twitter teilen können, muss ein Cookie auf Ihrem Gerät installiert werden.
                </div>
                <div class="content-text">
                    Durch die Einbindung der Plugins erhalten die Anbieter die Information, dass Ihr Browser die entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn Sie kein Profil bei dem entsprechenden Anbieter besitzen oder gerade nicht eingeloggt sind. Diese Information (einschließlich Ihrer IP-Adresse) wird von Ihrem Browser direkt an einen Server des jeweiligen Anbieters übermittelt und dort gespeichert.
                </div>
                <div class="content-text">
                    Sind Sie bei einem der sozialen Netzwerke eingeloggt, können die Anbieter den Besuch unserer Website Ihrem Profil auf Facebook bzw. Google+ unmittelbar zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den „Gefällt mir“- den „+1“- oder den „Twittern“-Button betätigen, wird die entsprechende Information ebenfalls direkt an einen Server der Anbieter übermittelt und dort gespeichert. Die Informationen werden außerdem in dem sozialen Netzwerk bzw. auf Ihrem Twitter-Account veröffentlicht und dort Ihren Kontakten angezeigt.
                </div>
                <div class="content-text">
                    Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch die Anbieter sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen der Anbieter:
                </div>
                <div class="content-text">
                    Facebook wird betrieben von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”). Eine Übersicht über die Plugins von Facebook und deren Aussehen finden Sie hier: https://developers.facebook.com/docs/plugins <br />Datenschutzhinweise von Facebook: http://www.facebook.com/policy.php
                </div>
                <div class="content-text">
                    Google+ wird betrieben von der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google“). Eine Übersicht über die Plugins von Google und deren Aussehen finden Sie hier: https://developers.google.com/+/web/ <br />Datenschutzhinweise von Google: http://www.google.com/intl/de/+/policy/+1button.html
                </div>
                <div class="content-text">
                    LinkedIn wird betrieben von der Linkedin Inc., 2029 Stierlin Court Mountain View, CA 94043 Vereinigte Staaten. Eine Übersicht über die Plugins von Linkedin und deren Aussehen finden Sie hier: https://developer.linkedin.com/plugins <br />Datenschutzhinweise von LinkedIn: http://de.linkedin.com/legal/privacy-policy
                </div>
                <div class="content-text">
                    Xing wird betrieben von der Xing AG, Dammtorstraße 30, 20354 Hamburg. Eine Übersicht über die Plugins von Xing und deren Aussehen finden Sie hier: https://dev.xing.com/plugins/share_button <br />Datenschutzhinweise von Xing: https://www.xing.com/privacy
                </div>
                <div class="content-text">
                    Instagram wird betrieben von der Instagram LLC. Eine Übersicht über die Instagram-Buttons und deren Aussehen finden Sie hier: https://instagram.com/developer/# <br />Datenschutzhinweise von Instagram: https://instagram.com/about/legal/privacy/#
                </div>
                <div class="content-text">
                    YouTube wird betrieben von YouTube LLC, 901 Cherry Ave., San Bruno, CA 94066 USA, vertreten durch Google Inc. Eine Übersicht über die YouTube-Buttons und deren Aussehen finden Sie hier: https://developers.google.com/youtube/youtube_subscribe_button <br />Datenschutzhinweise von YouTube: https://www.google.de/intl/de/policies/privacy/
                </div>
                <div class="content-text">
                    Twitter wird betrieben von der Twitter Inc., 1355 Market St, Suite 900, San Francisco, CA 94103. Eine Übersicht über die Twitter-Buttons und deren Aussehen finden Sie hier: https://twitter.com/about/resources/buttons <br />Datenschutzhinweise von Twitter: https://twitter.com/privacy
                </div>
                <div class="content-text">
                    Wir haben keinen Einfluss auf den Umfang der Daten, die das soziale Netzwerk mit Hilfe dieses Plugins erhebt. Bitte informieren Sie sich anhand der Datenschutz-Hinweise des jeweiligen sozialen Netzwerkes.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Nutzung von Google Analytics
                </div>
                <div class="content-text">
                    Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc.,1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics verwendet Cookies um eine Analyse der Benutzung der Website durch Sie zu ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                </div>
                <div class="content-text">
                    Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IPAdresse wird nicht mit anderen Daten von Google zusammengeführt.
                </div>
                <div class="content-text">
                    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: https://tools.google.com/dlpage/gaoptout?hl=de
                </div>
                <div class="content-text">
                    Demografische Merkmale bei Google Analytics<br />Im Falle der Nutzung der Funktion “demografische Merkmale” von Google Analytics, werden Berichte erstellt, die Aussagen zu Alter, Geschlecht und Interessen der Seitenbesucher enthalten. Diese Daten stammen aus interessenbezogener Werbung von Google sowie aus Besucherdaten von Drittanbietern. Diese Daten können keiner bestimmten Person zugeordnet werden. Sie können diese Funktion jederzeit über die Anzeigeneinstellungen in Ihrem Google-Konto deaktivieren oder die Erfassung Ihrer Daten durch Google Analytics wie im Punkt “Widerspruch gegen Datenerfassung” dargestellt generell untersagen.
                </div>
                <div class="content-text">
                    Widerspruch gegen Datenerfassung<br/>Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser Website verhindert: Google Analytics deaktivieren Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in den Datenschutzhinweise von Google: https://support.google.com/analytics/answer/6004245?hl=de
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Auf unserer Seite setzen wir "Google Maps" der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ genannt, ein.
                </div>
                <div class="content-text">
                    Bei jedem einzelnen Aufruf von "Google Maps" wird von Google ein Cookie gesetzt, um bei der Anzeige der Seite, auf der "Google Maps" integriert ist, Nutzerdaten und Nutzereinstellungen zu verarbeiten. Dieses Cookie wird nicht durch das Schließen des Browsers gelöscht, sondern läuft nach einer bestimmten Zeit ab, soweit es nicht von Ihnen zuvor manuell gelöscht wird.
                </div>
                <div class="content-text">
                    Wenn Sie mit dieser Verarbeitung Ihrer Daten nicht einverstanden sind, haben Sie die Möglichkeit, den Service von "Google Maps" zu deaktivieren und somit die Übertragung von Daten an Google zu verhindern. Dafür müssen Sie die Java-Script-Funktion in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall die "Google Maps" nicht oder nur eingeschränkt nutzen können.
                </div>
                <div class="content-text">
                    Für die Nutzung von "Google Maps" und der über "Google Maps" erlangten Informationen gelten die nachfolgenden Google-Nutzungsbedingungen http://www.google.de/intl/de/policies/terms/regional.html
                </div>
                <div class="content-text">
                    sowie die zusätzlichen Geschäftsbedingungen für „Google Maps“ https://www.google.com/intl/de_de/help/terms_maps.html.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Server-Log-Files / Serverdaten
                </div>
                <div class="content-text">
                    Der Provider der Seiten erhebt aus technischen Gründen u.a. folgende Daten und speichert automatisch Informationen in so genannten Serverlogfiles, die Ihr Browser automatisch an uns übermittelt.
                </div>
                <div class="content-text">
                    • Browsertyp und Browserversion<br />
                    • verwendetes Betriebssystem<br />
                    • Website, von der aus Sie uns besuchen (Referrer URL)<br />
                    • Hostname des zugreifenden Rechners<br />
                    • Datum und Uhrzeit Ihres Zugriffs / Serveranfrage<br />
                    • Ihre Internet Protokoll (IP)-Adresse.<br />
                </div>
                <div class="content-text">
                    Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen Daten gespeichert und sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden. Die Daten werden zu statistischen Zwecken ausgewertet, um unseren Internetauftritt und unsere Angebote optimieren zu können.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Einsatz von reCAPTCHA
                </div>
                <div class="content-text">
                    Eingabeformulare auf unserer Seite schützen wir, indem wir den Dienst „reCAPTCHA“ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ genannt, einsetzen. Durch diesen Einsatz kann unterschieden werden, ob die entsprechende Eingabe menschlicher Herkunft ist oder durch automatisierte maschinelle Verarbeitung missbräuchlich erfolgt.
                </div>
                <div class="content-text">
                    Nach unserer Kenntnis werden die Referrer-URL, die IP-Adresse, das Verhalten der Websitenbesucher, Informationen über Betriebssystem, Browser und Verweildauer, Cookies, Darstellungsanweisungen und Skripte, das Eingabeverhalten des Nutzers sowie Mausbewegungen im Bereich der „reCAPTCHA“-Checkbox an „Google“ übertragen.
                </div>
                <div class="content-text">
                    Google verwendet die so erlangten Informationen unter anderem dazu, Bücher und andere Druckerzeugnisse zu digitalisieren sowie Dienste wie Google Street View und Google Maps zu optimieren (bspw. Hausnummern- und Straßennamenerkennung).
                </div>
                <div class="content-text">
                    Die im Rahmen von „reCAPTCHA“ übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt, es sei denn, Sie sind zum Zeitpunkt der Nutzung des „reCAPTCHA“-Plug-ins bei Ihrem Google-Account angemeldet. Wenn Sie diese Übermittlung und Speicherung von Daten über Sie und Ihr Verhalten auf unserer Website durch „Google“ unterbinden wollen, müssen Sie sich bei „Google“ ausloggen und zwar bevor Sie unsere Seite besuchen bzw. das reCAPTCHA Plug-in benutzen. Die Nutzung des Dienstes „reCAPTCHA“ erlangten Informationen erfolgt gemäß den Google-Nutzungsbedingungen:
                </div>
                <div class="content-text">
                    https://www.google.com/intl/de/policies/privacy/
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Verwendung von Webfonts
                </div>
                <div class="content-text">
                    Diese Internetseite verwendet zur einheitlichen Darstellung von Schriftarten externe Schriften, Google Fonts, die von Google bereitgestellt werden. Die Einbindung dieser Fonts erfolgt nach lokaler Ablage der entsprechenden Schriftarten auf dem eigenen Server bzw. Webspace und durch einen Serveraufruf mit dem Serverstandort in Deutschland. Eine Verbindung zu Servern von Google findet dabei nicht statt.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Einsatz von Google-Adwords
                </div>
                <div class="content-text">
                    Wir setzen zeitweise zur Bewerbung unserer Website das Google Werbetool "Google-Adwords" ein. Im Rahmen dessen verwenden wir auf unserer Website den Analysedienst "Conversion-Tracking" der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“ genannt. Sollten Sie über eine Google-Anzeige auf unsere Website gelangt sein, wird auf Ihrem Rechner ein Cookie abgelegt. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Diese sogenannten "Conversion- Cookies" dienen nicht Ihrer persönlichen Identifikation und verlieren nach 30 Tagen ihre Gültigkeit. Besuchen Sie bestimmte Seiten unserer Website und das Cookie ist noch nicht abgelaufen, können wir und Google erkennen, dass Sie als Nutzer auf eine unserer bei Google platzierten Anzeigen geklickt haben und zu unserer Seite weitergeleitet wurden.
                </div>
                <div class="content-text">
                    Die mit Hilfe der "Conversion-Cookies" eingeholten Informationen dienen Google dazu, Besuchs-Statistiken für unsere Website zu erstellen. Wir erfahren durch diese Statistik die Gesamtanzahl der Nutzer, die auf unsere Anzeige geklickt haben und zudem welche Seiten unserer Website vom jeweiligen Nutzer im Anschluss aufgerufen wurden. Wir bzw. andere über "Google-Adwords" Werbende erhalten jedoch keinerlei Informationen, mit denen sich Nutzer persönlich identifizieren lassen.
                </div>
                <div class="content-text">
                    Sie können die Installation der "Conversion-Cookies" durch eine entsprechende Einstellung Ihres Browsers verhindern, etwa per Browser-Einstellung, die das automatische Setzen von Cookies generell deaktiviert oder speziell nur die Cookies von der Domain "googleadservices.com“ blockiert.
                </div>
                <div class="content-text">
                    Die diesbezügliche Datenschutzerklärung von Google erhalten Sie unter nachfolgendem Link: https://services.google.com/sitestats/de.html
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Veröffentlichung von Stellenanzeigen / Online-Stellenbewerbungen
                </div>
                <div class="content-text">
                    Ihre Bewerbungsdaten werden zum Zwecke der Abwicklung des Bewerbungsverfahrens elektronisch von uns erhoben und verarbeitet. Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen Daten ist primär §26 BDSG in der ab dem 25.05.2018 geltenden Fassung. Danach ist die Verarbeitung der Daten zulässig, die im Zusammenhang mit der Entscheidung über die Begründung eines Beschäftigungsverhältnisses erforderlich sind. Sollten die Daten nach Abschluss des Bewerbungsverfahrens ggf. zur Rechtsverfolgung erforderlich sein, kann eine Datenverarbeitung auf Basis der Voraussetzungen von Art. 6 DSGVO, insbesondere zur Wahrnehmung von berechtigten Interessen nach Art. 6 Abs. 1f) DSGVO, erfolgen. Unser Interesse besteht dann in der Geltendmachung oder Abwehr von Ansprüchen.
                </div>
                <div class="content-text">
                    Ihre Bewerbungsdaten werden nach Eingang Ihrer Bewerbung vom für die Stelle zuständigen Bewerbungsteam gesichtet. Im Unternehmen haben grundsätzlich nur die Personen Zugriff auf Ihre Daten, die dies für den ordnungsgemäßen Ablauf des Bewerbungsverfahrens benötigen.
                </div>
                <div class="content-text">
                    Folgt auf Ihre Bewerbung der Abschluss eines Anstellungsvertrages, so können Ihre übermittelten Daten zum Zwecke des üblichen Organisations- und Verwaltungsprozesses unter Beachtung der einschlägigen rechtlichen Vorschriften von uns in Ihrer Personalakte gespeichert werden.
                </div>
                <div class="content-text">
                    Die Löschung der von Ihnen übermittelten Daten erfolgt bei Zurückweisung Ihrer Stellenbewerbung automatisch sechs Monate nach Bekanntgabe der Zurückweisung. Dies gilt nicht, wenn aufgrund gesetzlicher Erfordernisse (beispielsweise der Beweispflicht nach dem Allgemeinen Gleichbehandlungsgesetz) eine längere Speicherung notwendig ist oder wenn Sie einer längeren Speicherung in unserer Interessenten-Datenbank ausdrücklich zugestimmt haben.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Recht auf Änderung
                </div>
                <div class="content-text">
                    Wir behalten uns das Recht vor, unsere Datenschutzbestimmungen, wegen zum Beispiel technischer Entwicklung, jeder Zeit anzupassen. Sollten Sie mit den hier dargestellten Maßnahmen zum Datenschutz nicht zufrieden sein oder haben Sie noch Fragen betreffend der Erhebung, Verarbeitung und/oder der Nutzung Ihrer personenbezogenen Daten, so würden wir uns freuen, von Ihnen zu hören. Wir werden uns bemühen, Ihre Fragen so rasch wie möglich zu beantworten und Ihre Anregungen umzusetzen. Bitte treten Sie mit uns in Kontakt.
                </div>
            </div>
            <div class="content-position">
                <div class="content-title">
                    Beschwerderecht bei der zuständigen Aufsichtsbehörde
                </div>
                <div class="content-text">
                    Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Sächsische Datenschutzbeauftragte, Postfach 12 00 16, 01001 Dresden, E-Mail: saechsdsb@slt.sachsen.de
                </div>
            </div>
        </div>
    </div>
{% endblock %}