{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-container">
        <div class="services-container">
            <div class="icon-container">
                <i class="list-icon"></i>
            </div>
            <div class="content-title">
                Unsere Dienstleistungen
            </div>
            <line></line>
            {% for srvice in services %}
            <div class="content-title">
                <i class="okay-icon custom-okay-icon"></i>
                {{ srvice.serviceTitle }}
            </div>
            <div class="content-text content-frame">
                {{ srvice.serviceValue }}
            </div>
            {% else %}
            <div class="content-text content-frame">
                There is no services.
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}