{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-container">
        <div class="services-container">
            <div class="icon-container">
                <i class="wash-icon"></i>
            </div>
            <div class="content-title">
                Unsere Dienstleistungen
            </div>
            <line></line>
            <div class="content-title">
                <i class="okay-icon custom-okay-icon"></i>Pranie
            </div>
            <div class="content-text content-frame">
                Tutaj wypada napisać o praniu.
            </div>
            <div class="content-title">
                <i class="okay-icon custom-okay-icon"></i>Odkurzanie
            </div>
            <div class="content-text content-frame">
                Tutaj wypada napisać o odkurzaniu.
            </div>
            <div class="content-title">
                <i class="okay-icon custom-okay-icon"></i>Odświrzanie
            </div>
            <div class="content-text content-frame">
                Tutaj wypada napisać o odświerzaniu
            </div>
            <div class="content-title">
                <i class="okay-icon custom-okay-icon"></i>Dezynfekcja
            </div>
            <div class="content-text content-frame">
                Tutaj wypada napisać o dezynfekcji
            </div>
        </div>
    </div>
{% endblock %}