$frameColor: #cbcbcb;
$containerRadius: 0px;
$containerPadding: 2px;
$buttonColor: #bf360c;
$buttonHoverColor: #d84315;
$buttonRadius: 3px;
$buttonMargi: 4px;
$HBContainerColor: #dd2c00;
$textColor: white;
$textFamily: verdana;
$textSize: 15px;
$contentTextColor: #546e7a;
$pictureRadius: 8px;
$fontSansSC: 'Encode Sans SC', sans-serif;

html,
body {
    margin: 0 auto;
    height:100%;
}

a:link,a:visited,a:active {
    color: $textColor;
    text-decoration: none;
}

a:hover {
    color: $textColor!important;
    text-decoration: none;
}

input {
    border: 1px solid $frameColor;
}

.head-container{
    width: 100%;
    background-color: $HBContainerColor;
    border-radius: $containerRadius;
    padding: $containerPadding;
    height: 60px;
    z-index: 99;
}

.head-nav{
    float: right;
    margin-right: 30px;
    margin-top: 8px;
}

.custom-nav{
    background-color: #ff7043;
    float: left;
    margin-left: 0px;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    z-index: 99;
    .main-button {
        width: 100%;
        margin-left: 0px;
    }
}

.head-menu{
    position: absolute;
    background-image: url("../../public/icons/ico-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $textColor;
    border-radius: 8px;
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin-top: 5px;
    right: 10px;
}

.body-container{
    min-height: 100%;
}

.foot-container{
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: $HBContainerColor;
    border-radius: $containerRadius;
    padding: $containerPadding;
}

.preloader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: $HBContainerColor;
    z-index: 99;
}

.logo-text{
    color: $textColor;
    font-size: 48px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.main-text{
    color: $textColor;
    font-family: $textFamily;
    font-size: $textSize;
}

.main-button{
    border-radius: $buttonRadius;
    color: $textColor!important;
    margin: $buttonMargi;
    background-color: $buttonColor!important;
    width: 100px;
    height: 40px;
    border: 0px;
    cursor: pointer;
}

.main-button:hover{
    background-color: $buttonHoverColor!important;
}

.welcome-container,.offer-container,.position-container,.message-container,.contact-container,.services-container{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 800px;
}

.welcome-content{
    display: inline-block;
}

.content-title,.message-person,.message-date{
    font-family: $fontSansSC;
    font-weight: bold;
    color: $contentTextColor;
}

.message-date{
    float: right;
    margin-right: 20px;
}

.content-text,.message-value{
    font-family: $fontSansSC;
    color: $contentTextColor;
    margin-bottom: 15px;
}

.config-message-value{
    background-color: #e9e9e9;
    min-height: 100px;
    color: #3a3a3a;
    border-radius: $buttonRadius;
    padding: 8px;
}

.message-email{
    color: gray!important;
}

.message-email:hover{
    color: red!important;
}

.content-frame{
    border-radius: 8px;
    border: 1px solid $frameColor;
    padding: 8px;
    margin-bottom: 10px;
}

.icon-container{
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

.first-icon{
    background-image: url("../../public/icons/ico-first.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.contact-icon{
    background-image: url("../../public/icons/ico-contact.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.wash-icon{
    background-image: url("../../public/icons/ico-wash.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.okay-icon{
    background-image: url("../../public/icons/ico-okay.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.custom-okay-icon{
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    display: inline-block;
    margin: 2px;
    margin-right: 10px;
    margin-bottom: -2px;
}

.star-icon{
    background-image: url("../../public/icons/ico-star.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.custom-star-icon{
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    display: inline-block;
    margin: 2px;
}

.second-icon{
    background-image: url("../../public/icons/ico-second.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.third-icon{
    background-image: url("../../public/icons/ico-third.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: block;
}

.confirm-ico{
	background: url("../../public/icons/ico-confirm.png");
}

.reject-ico{
	background: url("../../public/icons/ico-reject.png");
}

.config-icons{
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    top: 5px!important;
    right: 5px;
}

.message-icon{
    background-image: url("../../public/icons/ico-message.png");
}

.text-icon{
    background-image: url("../../public/icons/ico-text.png");
}

.add-icon{
    background-image: url("../../public/icons/ico-add.png");
}

.edit-icon{
    background-image: url("../../public/icons/ico-edit.png");
}

.picture-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 200px;
    border-radius: $pictureRadius;
}

.first-pic{
    background-image: url("../../public/pictures/pic-first.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.second-pic{
    background-image: url("../../public/pictures/pic-second.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.third-pic{
    background-image: url("../../public/pictures/pic-third.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.pc-pic{
    height: 500px;
    width: 80%;
    background-size: 100%;
    border-radius: $pictureRadius;
    margin-left: 10%;
}

.ph-pic{
    height: 200px;
    width: 100%;
    background-size: 100%;
}

.dark-background-container{
    top: 0px;
    position: absolute;
    height: 99%;
    width: 100%;
}

.dark-background{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

.dark-background-title{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: $textColor;
    font-weight: bold;
    font-family: $fontSansSC;
    font-size: 20px;
    top: 50px;
}

.star-container{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 48px;
    top: 130px;
    text-align: center;
}

.position-container{
    text-align: center;
}

.google-map {
    margin-top: 15px;
    border-radius: 5px;
    width: 80%;
    min-width: 250px;
    height: 80%;
    min-height: 330px;
}

.container-shadow{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.message-position{
    border: 1px solid $frameColor;
    width: 100%;
    padding: 10px;
    border-radius: $pictureRadius;
    min-height: 100px;
    margin-bottom: 5px;
}

line{
    border: 0;
    border-top: 1px solid gray;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.toTheTop{
    display: none;
    position: fixed;
    padding: 10px;
    background-color: $HBContainerColor;
    border-radius: $pictureRadius;
    color: white;
    bottom: 70px;
    left: 20px;
    cursor: pointer;
}

.flash-container{
    padding: 10px;
    border-radius: .25rem;
}

.flash-success{
    color: #2e7d32;
    border: 1px solid #2e7d32;
    background-color: #dcedc8;
    font-family: $fontSansSC;
    font-weight: bold;
}

.flash-reCaptcha,.flash-error{
    color: #dd2c00;
    border: 1px solid #dd2c00;
    background-color: #ffcdd2;
    font-family: $fontSansSC;
    font-weight: bold;
}

textarea {
    resize: none!important;
    height: 150px!important;
}

.config-button{
    position: relative;
    background-color: $buttonColor;
    width: 220px;
    height: 100px;
    padding: 8px;
    border-radius: $buttonRadius;
    margin: 15px;
}
.config-button:hover{
    background-color: $buttonHoverColor;
}

button{
    border: 0px !important;
    cursor: pointer;
}

.dbtn{
    line-height: 40px;
    text-align: center;
}
button:focus{
    outline: 0px !important;
}

#actImg {
    position: fixed;
    z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
    margin: 0!important;
}

#actImg.active {
    transform: translate(-50%, -50%) scale(1);
}

label {
    margin: 0px!important;
    margin-top: 10px!important;
}

small {
    margin-top: -5px!important;
    margin-bottom: 5px!important;
}

/*Alerts*/
.alert-con{
	display: none;
	font-family: arial;
	position: fixed;
	bottom: 25px;
	right: 45px;
	height: 80px;
	width: 400px;
	border: 1px solid gray;
    border-radius: 8px;
	z-index: 99999;
}

.result-correct{
	background-color: #4caf50!important;
}

.result-wrong{
	background-color: #f44336!important;
}

.alert-header{
	position: relative;
	float: left;
	background-color: transparent;
	height: 100%;
	width: 68px;
	color: white;
}

.alert-body{
	float: right;
	background-color: white;
	height: 78px;
	width: 302px;
	color: #546e7a;
	padding: 5px 5px 5px 25px;
	font-size: 14px;
}

.alert-title{
	font-size: 14px;
	margin-top: 18px;
}

.alert-message{
	font-size: 13px;
}

.alert-icons{
	display: block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 32px;
	height: 32px;
}