{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-container">
        <div class="welcome-container">
            <div class="icon-container">
                <i class="hello-icon"></i>
            </div>
            <div class="welcome-content">
                <div class="content-title">
                    Witaj,
                </div>
                <div class="content-text">
                    Tutaj znajdziesz najlepsze usługi w Berlinie i okolicach. Najwyższa jakość ugług to nasz priorytet. Bla bla bla...
                </div>
            </div>
        </div>
        <div class="picture-container">
            <i class="clean-pic pc-pic d-none d-lg-inline-block"></i>
            <i class="clean-pic ph-pic d-inline-block d-lg-none"></i>
            <div class="dark-background-container">
                <div class="dark-background"></div>
                <div class="dark-background-title">
                    Kompleksowe usługi <br />
                    Czyszczenia tapicerki
                </div>
            </div>
        </div>
        <div class="offer-container">
                <div class="icon-container">
                    <i class="work-icon"></i>
                </div>
                <div class="content-title">
                    Na liście naszych usług znajdziesz:
                </div>
                <div class="content-text">
                    • Pranie<br />
                    • Odkurzanie<br />
                    • Odplamianie<br />
                    • Odświerzanie<br />
                    • ...
                </div>
        </div>
        <div class="picture-container">
            <i class="hands-pic pc-pic d-none d-lg-inline-block"></i>
            <i class="hands-pic ph-pic d-inline-block d-lg-none"></i>
            <div class="dark-background-container">
                <div class="dark-background"></div>
                <div class="dark-background-title">
                    Jesteśmy najlepsi,<br />
                    mamy na to dowody!
                </div>
                <div class="star-container">
                    <i class="star-icon custom-star-icon"></i>
                    <i class="star-icon custom-star-icon"></i>
                    <i class="star-icon custom-star-icon"></i>
                    <i class="star-icon custom-star-icon"></i>
                    <i class="star-icon custom-star-icon"></i>
                </div>
            </div>
        </div>
        <div class="recommendation-container">
            <div class="recommendation-position">
                <div class="recommendation-person">
                    Adam
                </div>
                <div class="recommendation-value">
                    Polecam usługi D&J. Jestem bardzo zadowolony
                </div>
            </div>
            <div class="recommendation-position">
                <div class="recommendation-person">
                    Alicja
                </div>
                <div class="recommendation-value">
                    Super!! Najlepsze usługi czyszczenia tapicerki w Berlinie!
                </div>
            </div>
            <div class="recommendation-position">
                <div class="recommendation-person">
                    Agnieszka
                </div>
                <div class="recommendation-value">
                    Nie zawiodłam się, tapicerka jest czysta. Usługi warte swojej ceny!
                </div>
            </div>
        </div>
        <div class="position-container">
            <div class="content-title">
                Znajdź nas:
            </div>
            <iframe scrolling="no" crossorigin="anonymous" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=302&amp;height=293&amp;hl=en&amp;q=49.2235,7.5072&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="google-map container-shadow" frameborder="0"></iframe>
            <div class="content-title">
                D&J Professionelle PolsterReinigung
            </div>
            <div class="content-text">
                kod_pocztowy,miasto<br />
                nazwa_ulicy 1b/2b
            </div>
        </div>
    </div>
{% endblock %}